<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">

<head>
  <title>Projeto Maria da Penha</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>



  -->
</head>

<body>
  <div class="page text-center">
    <header class="section page-head slider-menu-position">
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-default rd-navbar-transparent" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
          <div class="rd-navbar-inner">
            <div class="rd-navbar-panel">
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
                <span></span>
              </button>
              <div class="rd-navbar-brand">
                <a href="">
                  <div class="img-logo-fluid">
              <%= link_to(image_tag ("logo_fundo_preto.png")) %>
            </div>
                </a>
              </div>
            </div>
            <div class="rd-navbar-menu-wrap">
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                  <div class="rd-navbar-mobile-brand">
                    <a href="">
                      <div class="logo">
                <%= link_to(image_tag ("logo_fundo_preto.png")) %>
              </div>
                    </a>
                  </div>
                  <ul class="rd-navbar-nav">
                    <li>
                      <a href="home">
                        <span>Página Inicial</span>
                      </a>
                    </li>
                    <li>
                      <a href="a_lei_maria_da_penha">
                        <span>A Lei Maria da Penha</span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="publicacaos">
                        <span>Publicações</span>
                      </a>
                      <ul class="rd-navbar-dropdown">
                        <li>
                          <a href="publicacaos#compromisso_e_atitude">
                            <span class="text-middle">Compromisso e Atitude</span>
                          </a>
                          <a href="publicacaos#ministerio_publico">
                            <span class="text-middle">Ministério Público</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="instituicaos">
                        <span>Rede de Atendimento</span>                        
                      </a>
                    </li>
                    <li>
                      <a href="links_uteis">
                        <span>Links Úteis</span>
                      </a>
                      <ul class="rd-navbar-dropdown">
                        <li>
                          <a href="links_uteis#vagas_de_emprego">
                            <span class="text-middle">Vagas de emprego</span>
                          </a>
                          <a href="links_uteis#palestras">
                            <span class="text-middle">Palestras</span>
                          </a>
                          <a href="links_uteis#entrevistas">
                            <span class="text-middle">Entrevistas</span>
                          </a>
                        </li>
                      </ul>
                    </li>                 
                    <li>
                      <a href="duvidas">
                        <span>Tira-Dúvidas</span>
                      </a>
                    </li>
                    <li>
                      <a href="sobre">
                        <span>Sobre o Projeto</span>
                      </a>
                      <ul class="rd-navbar-dropdown">
                        <li>
                          <a href="sobre#game">
                            <span class="text-middle">Game Maria da Penha nas Escolas</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>              
              <div class="rd-navbar-btn-wrap">
                <a class="btn btn-primary btn-anis-effect" style="color: #ffffff; background-color: #C4442D; border-color: #EE3252;" href="https://www.chapeco.sc.gov.br/">
                  <span class="btn-text">Plano Municipal</span>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-caption" style="margin-top: 100px">
              <div class="swiper-slide-caption">
                <% @publicacaos.each do |publicacao| %>
                      <h2><td><%= publicacao.titulo %></td></h2>
                      <h6><td><%= publicacao.data %></td></h6>
                      <h4><%= publicacao.conteudo %></h4>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="section novi-background section-34 page-footer bg-black context-dark">
      <div class="container">
        <div class="footer-brand">
          <a href="img-logo-fluid">
            PROJETO MARIA DA PENHA CHAPECÓ
          </a>
        </div>
        <p class="small text-darker">©
          <span class="copyright-year"></span> .
          <a href="privacy.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
  <div class="snackbars" id="form-output-global"></div>

  <%= javascript_include_tag 'core.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'script', media: 'all', 'data-turbolinks-track' => true %>

</body>

</html>