<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @comentario.data %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @comentario.conteudo %>
</p>

<p>
  <strong>Publicacao:</strong>
  <%= @comentario.publicacao %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
